<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(title) {%>
        <title> <%= title %> Page </title> 
    <% }else{ %>
        <title>Alam Singh Punia </title>
    <% } %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/Bootstrap5Css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link href="/css/aos.css" rel="stylesheet">

    
</head>
<body>
    <%- include("../header") %>
    <%- body %>
    
    <script src="/js/jQuery.js"></script>

    <script src="/js/Bootstrap5Js/bootstrap.bundle.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/script.js" ></script>
</body>
</html>