<section class="about bg-dark">
    <div class="container-fluid pt-5 shadow">
        <div class="row">
            <div class="col-6 d-flex my-auto justify-content-center h-75">
                    <table>
                        <tr>
                            <td class="text-red">Name</td><td> : </td>
                            <td>Alam Singh Punia</td>
                        </tr>
                        <tr>
                            <td class="text-red">Profession</td><td> : </td>
                            <td>Stock Marketing</td>
                        </tr>
                        <tr>
                            <td class="text-red">Age</td><td> : </td>
                            <td>22 Years</td>
                        </tr>
                        <tr>
                            <td class="text-red">College</td><td> : </td>
                            <td>Chitkara University</td>
                        </tr>
                        <tr>
                            <td class="text-red">Hobbies</td><td> : </td>
                            <td>Gaming, Reading and Photography</td>
                        </tr>
                    </table>
            </div>
            <div class="col-6 p-0">
                <img class="w-100" alt="Try Reloading" src="/img/aboutPic.png">
            </div>
            
        </div>
    </div>
    <div class="container pt-5">
        <div class="row shadow">
            <div class="col-12 ">
                <h2 class="text-red">Introduction</h2>
                <p>
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Numquam consequatur, 
                odit laborum distinctio quod laudantium 
                labore impedit est sed eligendi voluptatum 
                praesentium ipsa totam deserunt nostrum 
                culpa corporis rerum officiis nemo eum 
                iusto velit autem neque. Voluptates 
                eligendi optio ratione non aliquid error 
                sed in excepturi! Inventore accusamus eveniet 
                corrupti? Aliquam iusto pariatur autem sapiente 
                inventore dolorum temporibus voluptates soluta,
                ex harum! Fuga error iusto blanditiis laudantium. 
                Officiis maiores quasi aut voluptatibus odio quam 
                quos distinctio, quas blanditiis, repudiandae amet 
                iusto expedita rerum nostrum perferendis ea, optio 
                veniam. Perspiciatis odit dolores aut cupiditate 
                quaerat ad mollitia eius possimus, qui sint 
                beatae accusamus! Repellat veniam illo officiis 
                doloribus! Odio quis ducimus debitis officiis? 
                Dignissimos, quos nihil est distinctio optio 
                labore quisquam veritatis suscipit porro velit 
                atque cupiditate dolores ad! Esse facilis minima 
                omnis numquam fugit nostrum, quas corrupti blanditiis 
                laboriosam ducimus dicta tempora sed repudiandae illum 
                dolor labore sequi, molestias quia incidunt eveniet 
                voluptate sapiente optio dolore aut? Repellendus 
                dolorum numquam pariatur ullam reiciendis officia 
                neque voluptas libero. Sit ipsa, praesentium veritatis 
                numquam quidem animi voluptate sapiente voluptatibus
                neque corporis, vitae consequuntur nostrum similique 
                reiciendis corrupti impedit quis, delectus explicabo. 
                Reiciendis labore commodi tempora pariatur, odio magnam 
                error fugiat aliquam libero, laborum rem? Similique maxime 
                quia, consequuntur suscipit alias quod? Ad reprehenderit eius 
                commodi qui aspernatur expedita, ipsam cum dignissimos nobis 
                sequi alias quo esse vero magni accusantium exercitationem 
                at ratione soluta pariatur doloribus consequuntur 
                consectetur provident! Vero ea rerum eaque maiores 
                quod adipisci earum quisquam, dolorem vitae ipsum 
                provident laborum accusantium minus itaque quidem 
                unde optio tempore qui praesentium! Laudantium, est! 
                Sapiente pariatur accusantium incidunt dicta, nulla 
                alias quia qui optio cumque recusandae voluptates possimus 
                quam suscipit, doloremque, sed soluta animi nesciunt ipsa 
                tempora non porro consequuntur! Nemo, ipsum debitis. 
                Aspernatur corrupti quam soluta velit adipisci voluptas 
                recusandae, quis earum!</p>
            </div>
        </div>
    </div>
</section>