<section class="about bg-dark">
    <div class="container-fluid pt-5 shadow">
        <div class="row mt-5">
            
            <div class="col-lg-6 p-0 LargerImage">
                <img class="w-100" alt="Try Reloading" src="/img/aboutPic.png">
            </div>
            <div class="col-lg-6 SmallerImage my-auto text-center">
                <img alt="Try Reloading" src="/img/profilePic.jpeg">
            </div>
            <div class="col-lg-6 my-auto justify-content-center h-75">
                <div class="py-5">
                    <table class="table-dark table-borderless mx-auto">
                        <tr>
                            <td class="text-red">Name</td><td> : </td>
                            <td>Alam Singh Punia</td>
                        </tr>
                        <tr>
                            <td class="text-red">Profession</td><td> : </td>
                            <td>Stock Marketing</td>
                        </tr>
                        <tr>
                            <td class="text-red">Age</td><td> : </td>
                            <td>22 Years</td>
                        </tr>
                        <tr>
                            <td class="text-red">College</td><td> : </td>
                            <td>Chitkara University</td>
                        </tr>
                        <tr>
                            <td class="text-red">Hobbies</td><td> : </td>
                            <td>Gaming, Reading and Photography</td>
                        </tr>
                    </table>
                </div>
                <div class="px-5">
                    <h2 class="text-red">Introduction</h2>
                    <p>
                        Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. 
                        Modi delectus doloribus aliquam 
                        ex, voluptatem quas, est libero, 
                        inventore repudiandae facere cupiditate 
                        explicabo laboriosam.
                    </p>
                </div>
        </div>
            
        </div>
    </div>
    <div class="container pt-5">
        <div class="row shadow">
            <div class="col-12 ">
               
            </div>
        </div>
    </div>
</section>