<nav class="navibar shadow bg-dark">
    <ul class="m-1">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li class="dropdown">
                <div class="dropbtn"><span>My Hobbies</span> <span class="arrow"></span></div>
                <div class="dropdown-content">
                    <a href="/gaming">Gaming</a>
                    <a href="/photography">Photography</a>
                    <a href="/books">Books</a>
                    <a href="#">Stock Market</a>
                </div>
        </li>
        <li><a href="/contact">Contact Me</a></li>
    </ul>
</nav>