<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->
<nav class="navibar shadow bg-dark">
    <div class="container-fluid navibars">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="m-1 p-0">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li class="dropdown">
                <div class="dropbtn"><span>My Hobbies</span> <span class="arrow"></span></div>
                <div class="dropdown-content">
                    <a href="/gaming">Gaming</a>
                    <a href="/photography">Photography</a>
                    <a href="/books">Books</a>
                    <a href="#">Stock Market</a>
                </div>
            </li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
        </div>
    </div>
    <div class="col-12 naviFull">
        <ul class="m-1 p-0 text-end">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li class="dropdown">
                <div class="dropbtn"><span>My Hobbies</span> <span class="arrow"></span></div>
                <div class="dropdown-content">
                    <a href="/gaming">Gaming</a>
                    <a href="/photography">Photography</a>
                    <a href="/books">Books</a>
                    <a href="#">Stock Market</a>
                </div>
            </li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </div>
    
</nav>
<!-- <nav class="navibar shadow bg-dark">
    <ul class="m-1">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li class="dropdown">
            <div class="dropbtn"><span>My Hobbies</span> <span class="arrow"></span></div>
            <div class="dropdown-content">
                <a href="/gaming">Gaming</a>
                <a href="/photography">Photography</a>
                <a href="/books">Books</a>
                <a href="#">Stock Market</a>
            </div>
        </li>
        <li><a href="/contact">Contact Me</a></li>
    </ul>
</nav> -->