<section class="Landing bg-dark pt-5">
    <div class="container h-100 text-light">
        <div class="row h-100">
            <div class="col-lg-6 text-center pt-5 m-0" data-aos="fade-up">
                <img alt="Try Reloading" src="/img/heroPicNoBG.png" >
            </div>
            <div class="col-lg-6 my-auto" data-aos="fade-down">
                <h1 class="display-1"> 
                    Alam Singh <span>Punia</span>
                </h1>
                <p class="display-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque deleniti saepe eveniet quia assumenda cum earum corrupti, culpa ipsum. <span>buildit</span>.
                </p>
            </div>
        </div>
        <div class="clockDiv">
            <span class="clock"></span>
        </div>
    </div>
</section>
<script src="/js/clock.js"></script>